.sallve-header {
    height: 6rem;
    border-bottom: solid 2px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sallve-header > .sallve-brand {
    max-width: 200px;
}