.sallve-cartItemRow {
    margin-bottom: 3em;
}
.sallve-ammountText {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 600;
}
.sallve-ammountContainer {
    float: left;
}
.sallve-ammountBtn {
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    line-height: 30px;
    color: white;
    background-color: var(--s-purple);
    border: none;
}

.sallve-cartPriceText {
    font-size: 1rem;
}
.sallve-cartProductName{
    font-weight: bold;
}
.sallve-cartProductImage {
    border-radius: 15px !important;
}

.sallve-cartRemoveItemBtn {
    width: 25px;
    height: 25px;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 0;
    right: 0;
    border:none;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .sallve-cartPriceText {
        font-size: 1.3rem;
    }
}
